/* =============
    About
============= */

.about {
    width: 80%;
    margin: 0 auto;

    img {
        display: block;
        grid-template-columns: 50px auto 50px;
        justify-content: center;
        align-items: center;


    }



    p {
        font-family: 'quicksand';
        text-align: center;
    }

    .about-text {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
}

.services {
    h2 {
        justify-content: center;
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        padding-bottom: 50px;
    }

    img {
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.contact {

    background-color: #A8C0BB;

    padding-left: 20px;

    padding-right: 20px;

    h2 {
        justify-content: center;
        text-align: center;
        font-size: 48px;
        font-weight: 300;
        padding-bottom: 50px;
    }

    .contact-row {
        @include md {
            display: flex;
        }
    }

    input,
    textarea {
        border-style: none;
        background-color: $cream;
        display: block;
        margin-bottom: 14px;
        width: 100%;
        border-radius: 3px;
    }

    .message-box {
        width: 100%;
    }


    button {
        border-style: none;
        background-color: $cream;
    }

}

.footer {
    background-color: #A8C0BB;

    ul {
        justify-content: center;
        list-style: none;
        display: flex;

        li {
            padding: 5px;
        }
    }

}

.events {
    background-image: url(../img/events.png);
    background-position: center;
    background-size: cover;
    height: 178px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.floral {
    background-image: url(../img/floral.png);
    background-position: center;
    background-size: cover;
    height: 178px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cafe {
    background-image: url(../img/cafe.png);
    background-position: center;
    background-size: cover;
    height: 178px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}