.recent_events{
    h2{
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 50px;
    }
}
.gallery{
    h2{
        justify-content: center;
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        padding-bottom: 50px;
    }
}
