.main-content-sidebar {
    background-color: purple;
    color:white
    text-align center;
    padding-top 50px ;
}
.main-content-article {
    background-color: lightgray;
    color:white
    text-align: center;
    padding-top: 50px;
}
.main-content-ads {
    background-color: darkblue;
    color:white
    text-align: center;
    padding-top:  50px;
}
.footer {
    background-color: blue;
    color:white
    text-align: center;
    padding-top: 50px;
}
.main-content-author {
    background-color: yellow;
    color:white
    text-align: center;
    [padding-top: 50px;]

}
